<h1><%= @bathroom.title %></h1>
<h3><%= link_to 'Edit Bathroom', edit_bathroom_path(@bathroom) %></h3>
<h3>Business: <%= @bathroom.establishment %></h3>
<h3>Address: <%= @bathroom.address %></h3>
<h3>Average Rating: <%= @bathroom.average_rating %> </h3>
<h3>Number of Reviews: <%= @bathroom.number_of_reviews %> </h3>
<%= image_tag google_maps(@bathroom.latitude, @bathroom.longitude) %>
<h3>Number of Stalls: <%= @bathroom.stalls %></h3>
<%= link_to 'Add a Rating', new_bathroom_rating_path(@bathroom) %>

<% @bathroom.ratings.each do |r| %><br>
<p>Review Title: <%= r.title %></p>
<!-- be sure to add both required parameters for the route -->
<p><%= link_to 'Edit Rating', edit_bathroom_rating_path(@bathroom,r) %></p>
<p><%= link_to 'Delete Rating', bathroom_rating_path(@bathroom,r), method: :delete %></p>
<p>Description: <%= r.description %></p>
<p>Date: <%= r.review_date %>Stars: </p>
<p><%= r.stars %></p>
<% end %>
